<!-- Footer -->
<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Welcome to Bayleaf Salon! We offer premium hair, beauty, and nail care
          services to make you look and feel your best.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#services" class="text-light text-decoration-none"
              >Services</a
            >
          </li>
          <li>
            <a href="#packages" class="text-light text-decoration-none"
              >Packages</a
            >
          </li>
          <li>
            <a href="#outlets" class="text-light text-decoration-none"
              >Outlets</a
            >
          </li>
          <li>
            <a href="#contact" class="text-light text-decoration-none"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p><i class="fas fa-phone"></i> +91 9619306512</p>
        <p><i class="fas fa-envelope"></i> nidhiputhrannp@gmail.com</p>
        <p><i class="fas fa-map-marker-alt"></i> Mumbai, India</p>
      </div>
    </div>
  </div>
</footer>
